body {
  background-color: #dbd8e3;
  font-family: monospace;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px rgb(0, 116, 186, 0.6);
}

select {
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

h2 {
  font-size: 25px;
  margin: 10px 0 0 0;
}

.city {
  border-bottom: 1px dashed grey;
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

.time {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
}

.time small {
  font-size: 15px;
  vertical-align: middle;
}

.date {
  margin: 10px 0;
  font-size: 15px;
}

.dark-body {
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: white;
}

.dark-container {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
}

.light-body {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

.light-container {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}

footer {
  text-align: center;
  margin: 20px 0;
}
